@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100&family=Style+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



*
{
   font-family: 'Poppins', sans-serif;
}
html
{
   scroll-behavior: smooth;
}
span
{
   font-family: Style Script;
}
::-webkit-scrollbar
{  
   width: 6px;
   background-color: rgb(30, 41, 59);
}
::-webkit-scrollbar-thumb
{
   border-radius: 10px;
   background-color: #ffa420;
}
